<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
   "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
   "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">  

<hibernate-configuration>  
   <session-factory>  
      <property name="hbm2ddl.auto">update</property>  
      <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>  
      <property name="connection.url">jdbc:mysql://localhost/EncuentrasdeTodo</property>  
      <property name="connection.username">root</property>  
      <property name="connection.password"></property>
      <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property> 
      <mapping class="Models.Municipio"/>  
      <mapping class="Models.Proveedor"/>
      <mapping class="Models.tipo_usuario"/> 
      <mapping class="Models.Genero"/>
      <mapping class="Models.Usuario"/> 
      <mapping class="Models.Categoria"/>
       <mapping class="Models.Estados"/>
       <mapping class="Models.Productos"/>
       <mapping class="Models.Factura"/>
       <mapping class="Models.DetalleFactura"/>


   </session-factory>  
</hibernate-configuration>
